
<div class="brand">
<%= link_to "Peterson | Nykamp", root_path, :class => "brand" %>
<br>
<%= link_to "Attorneys at Law", root_path, :class => "brand subtitle" %>
</div>

<ul class="nav pull-right">
	<li class=""><%= link_to 'About Us', about_path %></li>
	<li class=""><%= link_to 'Attorneys', attorneys_path %></li>
	<li class=""><%= link_to 'Practice Areas', practice_areas_path %></li>
	<li class=""><%= link_to 'Contact', contact_path %></li>
</ul>